.price-plans-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 1.6fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"price-plans-title"
		"price-plans-tabs";
}

.price-plans-title {
	grid-area: price-plans-title;
}

.price-plans-tabs {
	grid-area: price-plans-tabs;
}